[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-pomodoro-plus"]
	path = tmux/.tmux/plugins/tmux-pomodoro-plus
	url = https://github.com/olimorris/tmux-pomodoro-plus
[submodule "gpg"]
	path = gpg
	url = ./gpg
[submodule "git"]
	path = git
	url = ./git
[submodule "hledger"]
	path = hledger
	url = ./hledger
