[submodule "tpm"]
	path = common/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-pomodoro-plus"]
	path = common/tmux/.tmux/plugins/tmux-pomodoro-plus
	url = https://github.com/olimorris/tmux-pomodoro-plus
[submodule "gpg-macos"]
	path = macos/gpg
	url = git@github.com:psanker/gpg-macos.git
[submodule "git-macos"]
	path = macos/git
	url = git@github.com:psanker/git-macos.git
[submodule "mutt"]
	path = common/mutt
	url = git@github.com:psanker/email.git
[submodule "calcurse"]
	path = common/calcurse
	url = git@github.com:psanker/calendar.git
[submodule "gpg-common"]
	path = common/gpg
	url = git@github.com:psanker/gpg-common.git
[submodule "newsboat-common"]
	path = common/newsboat
	url = git@github.com:psanker/newsboat.git
[submodule "common/todoist"]
	path = common/todoist
	url = ./common/todoist
